.card {
    width: 350px;
    border: 1px solid #865353;
    border-radius: 4px;
    box-shadow: 2px 2px 8px rgba(95, 80, 80, 0.1);
    overflow: hidden;
    margin: 10px;
  }
  
  .card-header {
    background-color: #f58c8c;
    padding: 16px;
    text-align: center;
  }
  
  .card-header .text-header {
    margin: 0;
    font-size: 19px;
    color: rgb(44, 43, 43);
  }
  
  .card-body {
    padding: 18px;
  }
  
  .form-group {
    margin-bottom: 18px;
  }
  
  .form-group label {
    display: block;
    font-size: 17px;
    color: #dac3c3;
    font-weight: bold;
    margin-bottom: 1px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="password"] {
    width: 90%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn {
    padding: 12px 24px;
    margin-left: 13px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer
  }
  
  .btn:hover {
    background-color: #ccc;
    color: #333;
  }
  body{
    background-image: url(https://www.xtrafondos.com/wallpapers/resized/personaje-de-dark-souls-3-2426.jpg?s=large);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
